//import de variables
@import "../utilidades/variables";
//import de mixin
@import "../utilidades/mixin";

/* estilos de servicios */

.servicios-cat{
    display: grid;
    grid-template-columns: 1fr;
}

.servicios-intro, .clientes-txt{
    text-align: left;
}

.servicios-txt{
    margin: 20px 10px 0px 0px;
    border-top: $color-secundario solid 10px;
    text-align: left;
    line-height: 10px;
    h5{
        margin: 10px 0px;
    }
}

.clientes{
    h2{
        text-align: center;
        margin: 20px 0px;
        font-size: 2em;
    }
}